.button{
    background-color: var(--common_color);
    color: white;
    border: none;
    outline: none;
    min-width: 150px;
    text-align: center;
    height: 40px;
    box-shadow: 4px 4px #0b0b13;
    transition: all 0.4s ease-in-out !important;
    cursor: pointer;
}
.button:hover{
    background-color: var(--common_word);
    box-shadow: 4px 4px var(--common_color);
    transition: all 0.4s ease-in-out !important;
}