.content {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
  margin-top: 20px;
}

.animate {
  opacity: 1;
  transform: translateY(0);
}

/* Large devices */
@media only screen and (min-width: 992px) {
  .content {
    grid-template-columns: repeat(2,1fr);
  }
}

/* Extra large */
@media only screen and (min-width: 1200px) {
  
}
