.fadeIn {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .fadeOut {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .list_items {
    display: flex;
    list-style: none;
    gap: 10px;
    justify-content: center;
  }
  
  .list_items li a {
    font-size: 15px;
    font-weight: 400;
    color: #0b0b13;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  /* Add new styles for active link */
  .navLink {
    transition: color 0.3s ease-in-out;
  }
  
  .navLink:hover {
    color: #555; /* Change to the desired hover color */
  }
  
  .active {
    color: #555; /* Change to the desired active color */
  }
  

/* Main CSS */
.grid_wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid_wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid_wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.wide {
	grid-column: span 2;
}
.tall {
	grid-row: span 2;
}
.big {
	grid-column: span 2;
	grid-row: span 2;
}
.normal{
    grid-column: span 1;
	grid-row: span 1;
}

  @media only screen and (max-width: 600px) {
    
  }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
   
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

