.loader{
    width: 100%;
    height: 100vh;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--common_color);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 0.6 all ease-out;
}
.loader svg{
    width: 100%;
}

.loading_text{
    width: 100%;
    font-weight: bold;
    color: #fff;
    transform: translate(.4rem);
    margin-top: 1rem;
    font-size: 30px;
    transition: 0.4s all ease-in;
}
.fade_out {
    opacity: 0; /* Set opacity to 0 for fade-out effect */
}

