:root {
  --menu_color: rgba(11, 11, 19, 0.7);
  --social_icon_color: #0b0b13;
}

// navbar transparent
.wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  transition: all 0.3s ease;
}

.navTransparent {
  background: transparent;
  box-shadow: none;
  border-bottom: 1px solid rgb(108, 108, 108);
}

.navScrolled {
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.navScrolledTitleColor {
  color: #f7f7ff;
}
// nav transparent end
.navbar_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.nav_bars {
  background-color: #2fbf71;
  color: white;
}

.logo h4 {
  font-size: 20px;
  font-weight: 800;
}
.off_canvas {
  height: 100%;
  background: #f7f7ff;
  width: 250px;
  z-index: 99;
  position: fixed;
  top: 0;
  left: -100%;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  
  display: flex;         
  flex-direction: column;
}
.off_canvas_open {
  left: 0;
}
.offCanvasTop {
  position: relative;
  height: 142px;
}
.circle {
  background: var(--common_color);
  width: 270px;
  border-radius: 100%;
  height: 250px;
  position: absolute;
  top: -150px;
  left: -13px;
  z-index: -1;
}
.offCanvasAvatar {
  width: 90px;
  height: 90px;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background: red;
  border: 3px solid white;
  border-radius: 100%;
}
.offCanvasAvatar img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
}

.menu{
    margin-top: 30px;
}
.menu ul li {
  border-bottom: 1px solid rgb(228, 226, 226);
    animation: slideIn 0.5s ease forwards;
}
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.menu ul li:nth-child(1) { animation-delay: 0.1s; }
.menu ul li:nth-child(2) { animation-delay: 0.2s; }
.menu ul li:nth-child(3) { animation-delay: 0.3s; }
.menu ul li:nth-child(4) { animation-delay: 0.4s; }
.menu ul li:nth-child(5) { animation-delay: 0.5s; }
.menu ul li:nth-child(6) { animation-delay: 0.6s; }

.menu ul li a {
  display: flex;
  gap: 10px;
  text-decoration: none;
  padding: 0 30px;
  color: var(--menu_color);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.3s ease, 
  transform 0.2s ease;
display: block;
  line-height: 45px;  
}

.menu ul li a:hover {
  color: var(--common_color);
  transform: translateX(5px);
  font-weight: 600;
}

.active {
  color: var(--common_color) !important;
  font-weight: 600;
  transform: translateX(5px);
}
.social_icon {
  width: calc(100%);
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-bottom: 20px;
  flex-basis: 3%;
margin-top: auto;  
}
.social_icon a {
  color: var(--social_icon_color) !important;
}
.social_icon a i:hover {
  transition: 0.1s ease-in;
  color: #2fbf71;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .container {
    margin-top: 0;
  }
  .navbar_flex {
    display: none;
  }
  .off_canvas {
    left: 0;
  }

}
